/* Eric Meyer CSS Reset v2 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	font-family: arial;
	font-size: 12px;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body p a {
  color: #333;
  text-decoration: none;
  border-bottom: 1px solid #666;
}

strong {
	font-weight: bold;
}

.clear {
	
}

/* Basic site */

.red-light-nav {
  border-bottom: 2px solid #ddd;
  background: #f1f1f1;
  padding: 12px 50px 8px 243px;
}

.red-light-nav > div {
  display: inline-block;
  position: relative;
  top: 0;
}

.red-light-nav > div a {
  font-family: 'Arvo', sans-serif;
  color: #666;
  text-decoration: none;
  display: block;
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  padding: 10px 20px 10px;
  font-size: 16px;
}

.red-light-nav div.right {
  float: right;
}

.red-light-nav > div:hover a span {
  border-bottom: 1px solid #aaa;
  color: #000;
}

.red-light-nav > div:hover ul a span {
  border-bottom: none;
}

.red-light-nav > div:hover ul a {
  font-size: 14px;
  margin: 0;
  padding: 8px 10px;
}

.red-light-nav > div:hover ul a:hover,
.red-light-nav > div:hover ul a:hover span {
  background: #888;
  color: #fff;
}

.red-light-nav a.selected {
  color: #333;
  font-weight: 700;
}

/* Logo */

.red-light-nav .logo {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  position: absolute;
  padding: 7px;
  text-align: center;
  color: #333;
  background: #fff;
  border: 2px solid #ddd;
  -webkit-font-smoothing: antialiased;
  line-height: 1.25em;
  margin: 0 30px 0 0;
  width: 145px;
  top: 20px;
  left: 50px;
}

.red-light-nav .logo span {
  display: block;
}

.red-light-nav .logo span:nth-child(1),
.red-light-nav .logo span:nth-child(2),
.red-light-nav .logo span:nth-child(3) {
  font-size: 1.25em;
  line-height: 1.25em;
}

.red-light-nav .logo span:nth-child(1) {
  color: #ec1827;
}

.red-light-nav .logo span:nth-child(2) {
  letter-spacing: 0.05em;
}

.red-light-nav .logo span:nth-child(3) {
  letter-spacing: 0.15em;
}

/* Footer */

.red-light-footer {
  clear: both;
  background: #f1f1f1;
  border: 2px solid #ddd;
  border-left: none;
  border-right: none;
  padding: 10px 50px;
  margin-top: 100px;
}

.red-light-footer p {
	font-size: 10px;
	color: #999;
	margin: 10px 0;
}

/* Nav */
#rl-browse-btn {
  position: relative;
}

#rl-browse-btn:hover ul {
  display: block;
}

#rl-browse-btn ul {
  z-index: 999;
  text-align: left;
  position: absolute;
  left: 0;
  width: 300px;
  display: none;
  border: 1px solid #ddd;
}

.red-light-nav li {
  display: block;
  font-family: 'Arvo', serif;
  background: #fff;
  font-size: 14px;
  box-shadow: 0 3px 3px rgba(0,0,0,.2);
}

.red-light-nav li:nth-child(even) {
  background: #f8f8f8;
}

.red-light-nav li span {
  padding-right: 10px;
  font-size: 10px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #666;
}

h1 {
  font-family: 'Arvo', serif;
  font-size: 22px;
  padding: 0 0 15px 0;
  margin: 0 0 15px 0;
  color: #666;
  line-height: 1.5em;
}

.tip h1 {
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.tip h2 {
  font-family: 'Arvo', serif;
  font-size: 16px;
  margin: 0 0 25px 0;
  color: #666;
  line-height: 1.5em;
  border: 2px dotted #999;
  padding: 15px 20px;
}

.tip p {
	margin: 20px 0 0;
	line-height: 1.5em;
}

.tip .social {
	display: inline-block;
	margin-top: 25px;
	padding: 10px;
	background: #fafafa;
	border: 1px solid #eee;
}

.tip .social > span {
	margin: 10px !important;
	display: block;
}

.tip .video {
	float: right;
	padding: 10px;
	background: #f6f6f6;
	border: 1px solid #ddd;
	margin: 0 0 20px 20px;
	width: 300px;
}

.tip .video p {
	margin: 5px 0 0;
	color: #666;
}

.red-light-sidebar p {
  line-height: 1.5em;
  margin-bottom: 10px;
  font-style: italic;
  color: #888;
}

.red-light-sidebar h1 {
  border-bottom: 2px dashed #ccc;
  font-size: 16px;
}

.red-light-page {
  margin: 50px 50px 50px 0;
}

.red-light-sidebar {
  position: relative;
  float: left;
  width: 163px;
  margin: 90px 0 50px 50px;
}

.red-light-page-inner {
	margin: 0 20px 20px 265px;
}

/* Toggle */

.toggle-container {
  position: relative;
  padding-left: 18px;
}

.toggle-container span,
.symptom-finder .step-num {
  position: absolute;
  top: 17px;
  left: 0;
  display: block;
  border-radius: 999px;
  background: #666;
  color: #fff;
  height: 16px;
  width: 16px;
  text-align: center;
  line-height: 16px;
  font-weight: bold;
}

.toggle {
  display: inline-block;
  border: 1px solid #ccc;
  background: #eee;
  border-radius: 4px;
  margin: 10px;
  overflow: hidden;
}

.toggle li {
  text-align: center;
  display: inline-block;
  border-left: 1px solid #ccc;
  min-width: 72px;
}

.toggle.stacked li {
  display: block;
  border-left: none;
  border-top: 1px solid #ccc;
}

.toggle li:first-child {
  border-left: none;
}

.toggle.stacked li:first-child {
  border-top: none;
}

.toggle a {
  display: block;
  padding: 10px 13px;
  color: #555;
  font-family: arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
}

.toggle a.selected {
  background: rgba(0,0,0,.35);
  color: #fff;
}

/* Symptom Finder */

.symptom-finder {
  position: relative;
  border: 1px solid #ccc;
  display: inline-block;
  overflow: hidden;
  width: 100%;
  height: 425px;
}

.symptom-finder .toggles {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #f6f6f6;
  overflow: scroll;
}

.symptom-finder .toggles-container {
	padding: 25px;
}

.symptom-finder-canvas {
  position: absolute;
  right: 0;
  height: 100%;
  width: 50%;
  transition: height .5s;
  -moz-transition: height .5s;
  -webkit-transition: height .5s;
  background: #fff url(../images/grid.png);
  z-index: 2;
  box-shadow: inset 0 1px 8px #bbb;
}

.symptom-finder-canvas.annimate {
  transition: right .4s ease-in-out;
  -moz-transition: right .4s ease-in-out;
  -webkit-transition: right .4s ease-in-out;
}

.symptom-finder-canvas.start .body {
  display: none;
}

.symptom-finder-canvas.start .message {
  position: relative;
  display: none;
}

.symptom-finder-canvas .message .back {
	position: absolute;
  left: 15px;
	top: 15px;
	z-index: 3;
	opacity: 0;
  transition: opacity .4s ease;
  -moz-transition: opacity .4s ease;
  -webkit-transition: opacity .4s ease;
}

.symptom-finder-canvas.shift .message .back {
	opacity: 1;

}

.symptom-finder-canvas .message .back a {
	text-decoration: none;
	border-bottom: none;
	cursor: default;
}

.symptom-finder-canvas.shift .message .back a {
  cursor: auto;
}

.symptom-finder-canvas.shift .message .back a:hover {
  text-shadow: 1px 2px rgba(255,255,255,0.4), 0 0 22px #333;
  color: #000;
}

.symptom-finder-canvas .message {
	background: rgba(235, 235, 235, 0.7);
	padding: 12px 25px;
	font-weight: bold;
	color: #333;
	border-bottom: 1px solid #eee;
	text-align: center;
}

.symptom-finder-canvas .message p span {
	position: relative;
	top: auto;
	left: auto;
	display: inline-block;
	margin: 0 5px 0 0;
}

.symptom-finder .body {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

.symptom-finder-canvas.shift {
  z-index: 2;
  right: 50%;
}

.symptom-finder .body.male .female,
.symptom-finder .body.female .male,
.symptom-finder .body.child .adult,
.symptom-finder .body.adult .child {
  display: none;
}

.symptom-finder .adult img,
.symptom-finder .child img,
.symptom-finder .dot-container {
  position: absolute;
}

.symptom-finder .adult img,
.symptom-finder .adult .dot-container {
  height: 330px;
  bottom: 0;
  left: 50%;
}

.symptom-finder .child img,
.symptom-finder .child .dot-container {
  height: 302px;
  margin: 0 0 0 0;
  bottom: 0;
  left: 50%;
}

.symptom-finder .adult.male img,
.symptom-finder .adult.male .dot-container {
  margin: 0 0 0 -62px;
  width: 122px;
}

.symptom-finder .adult.female img,
.symptom-finder .adult.female .dot-container {
  margin: 0 0 0 -83px;
  width: 155px;
}

.symptom-finder .child.male img,
.symptom-finder .child.male .dot-container {
  margin: 0 0 0 -53px;
  width: 112px;
}

.symptom-finder .child.female img,
.symptom-finder .child.female .dot-container {
  margin: 0 0 0 -72px;
  width: 142px;
}

/* Dots */

.symptom-finder a.dot {
  display: block;
  background: red;
  height: 8px;
  width: 8px;
  left: -5px;
  border-radius: 4px;
  box-shadow: 0 0 0 2px rgba(255,255,255,0.5);
}

.symptom-finder a.dot:hover {
  box-shadow: 0 0 0 3px #fff, 0 0 0 5px red;
  z-index: 1;
}

.symptom-finder .dot .label {
  display: none;
}

.symptom-finder a.dot:hover .label {
  display: block;
  position: absolute;
  top: -4px;
  left: 20px;
  background: #111;
  color: #fff;
  font-family: arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  padding: 2px 4px 2px 3px;
}


.symptom-finder .dot a .label span {
	display: inline;
	width: 100%;
}

.symptom-finder .dot .label:after {
  content: " ";
  position: absolute;
  left: -8px;
  top: 0;
  width: 0;
  height: 0;
  border-bottom: 8px solid transparent;
  border-top: 8px solid transparent;
  border-right: 8px solid #111;
  z-index: 1;
}

.symptom-finder-results {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background: #999;
  overflow: scroll;
}

.symptom-finder-results h1 {
  padding: 20px 20px 0;
  color: #fff;
  font-size: 19px;
}

.symptom-finder-results li:nth-child(odd) {
	background: #a4a4a4;
}

.symptom-finder-results li a {
	display: block;
	padding: 10px 20px;	
	color: #fff;
	font-size: 14px;
	text-decoration: none;
}

.symptom-finder-results li a:hover {
	background: #777;
}

.symptom-finder-results li li {
	padding-left: 20px;
	background: inherit !important;
}

.symptom-finder-results li li a {
	font-size: 12px;
}

.symptom-finder-results li li a:hover {
	background: none;
	text-decoration: underline;
}

.symptom-finder-results li ul {
	padding-bottom: 5px;
	display: none;
}

.symptom-finder-results li.selected > ul {
  display: block !important;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

/* Testimonials */

.testimonial {
	position: relative;
	border: 1px solid #ddd;
	padding: 20px;
	line-height: 1.5em;
	margin-bottom: 20px;
	overflow: auto;
}

.testimonial::after {
	content: ' ';
	display: block;
	background: #f1f1f1;
	position: absolute;
	top: 0;
	width: 195px;
	bottom: 0;
	right: 0;
	z-index: -1;
	border-left: 1px solid #DDD;
}

.testimonial .story {
	margin-right: 210px;
}

.testimonial .details {
	float: right;
	width: 150px;
}

.testimonial .details .name {
	font-family: 'Arvo', serif;
	font-size: 1.4em;
	margin-bottom: 5px;
}

.rating {
	margin-top: 15px;
}

.rating a {
	opacity: 0.6;
	border-bottom: none;
}

.rating a:hover.down {
	position: relative;
	top: 1px;
	padding-top: 1px;	
}

.rating a:hover.up {
	position: relative;
	top: -1px;
	padding-bottom: 1px;
}


.rating a:hover {
	opacity: 1;
}

.rating {
	color: #999;
}

.testimonial-sort {
	float: right;
	font-size: 14px;
}

.testimonial-sort a {
	display: inline-block;
	margin: 0 0 0 15px;
	color: #666;
	text-decoration: none;
	border-bottom: none;
}

.testimonial-sort a.selected {
	border-bottom: 2px solid #ccc;
	border-top: 2px solid #ccc;
}

/* Testimonial Submit Story */

.submit-story span {
	font-family: 'Arvo', serif;
	font-size: 14px;
	display: block;
	margin: 10px 0 3px 0;
}

.submit-story #submit-btn {
	margin: 15px 0;	
}

.submit-story textarea, .submit-story input {
	width: 300px;
	border: 1px solid #aaa;
	font-family: 'Arvo', serif;
	font-size: 14px;
	padding: 5px;
}

.submit-story button {
	font-family: 'Arvo', serif;
	font-size: 14px;
	padding: 7px 10px;
}

.submit-story .required {
	color: #999;
	margin: 20px 0 0 0;
}

.submit-story .error {
	color: red;
	margin: 0  0 25px 0;
}

a.pagination-next,
a.pagination-prev {
	display: inline-block;
	padding: 5px;
	text-decoration: none;
	color: #fff;
	background: #aaa;
}

a.pagination-next:hover,
a.pagination-prev:hover {
	background: #666;
}

.pagination-prev {
	margin-right: 5px;
}

.pagination-text {
	color: #999;
	margin: 10px 0 0 0;
}